#container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

.header {
    display: flex;
    padding: 10px;
    align-items: center;
    
}
button{
    width: 100px;
    height: 25px;
    margin-left: 15px;
}

.divSquares{
    border: 1px solid black;
    box-sizing: border-box;
}